---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="CV - Sam Kerr" description="">
	<div class="stack gap-20">
		<main class="wrapper about">
			<!-- <Hero
				title=""
				tagline=""
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero> -->

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Experience working with Python, Java, C#, Typescript, Haskell and SQL. Experience building, maintaining and supporting desktop, web and cross-platform mobile apps working on delivering high impact features, optimizing performance, improving security and architectural improvements. 
					</p>
					<p>
						Strong academic knowledge of Computer Science and Mathematics, including Operating Systems, Distributed Systems, Networking and Machine Learning.

					</p>
					<p>
						Passionate about problem solving, genuinely enjoyed learning about algorithms and data structures before I even knew I would become a software engineer.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Computer Science @ University of Cambridge, Clare College 2018-2021, 71%, ranking 59/120</p>
					<p>A Levels: Maths A*, Further Maths A*, Physics A*, AS Biology A</p>
					<p>GCSEs: 4A*, 6A</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Full stack software development</p>
				</div>
			</section>
		</main>

		<!-- <ContactCTA /> -->
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
