---
import Icon from './Icon.astro';
import type { iconPaths } from './IconPaths';
import Socials from './Socials.astro';

const currentYear = new Date().getFullYear();
/** Icon links to social media — edit these with links to your profiles! */
const iconLinks: { label: string; href: string; icon: keyof typeof iconPaths }[] = [
	{ label: 'GitHub', href: 'https://github.com/samkerr', icon: 'github-logo' },
	// { label: 'YouTube', href: 'https://www.youtube.com/samkerr/', icon: 'youtube-logo' },
];
---



<footer>
	<p>&copy; {currentYear} Sam Kerr</p>
	<Socials />
</footer>

<style>
	footer {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: var(--gray-400);
		font-size: var(--text-sm);
	}

	footer a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}



	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			padding: 2.5rem 5rem;
		}
	}
</style>
